<label class="open-question-question">{{item.question}}</label>
<p class="text-muted" ng-show="item.max_length && item.value.length > 0">{{item.max_length - item.value.length}} characters remaining</p>
<textarea rows="5" class="text-field open-question-value" ng-model="item.value" maxlength="{{item.max_length}}" ng-required="true" ng-click="item.event_handler('click', 0, item.value)" ng-focus="item.event_handler('focus', 0, item.value)" ng-blur="item.event_handler('blur', 0, item.value)"></textarea>
