<div ng-controller="PeerReviewViewerController" ng-init="init(item)">
<label>Peer reviews</label>
	<div>
		<div class="peer-review-container">
			<div class="peer-review-answer" ng-repeat="peer_review in peer_reviews">
				<!--<div class="form-item" ng-repeat="review in peer_review.review" ng-include="answer_view(answer.item_type)">
				</div> !-->
				{{peer_review.review}}
				<button class="btn-blue" ng-click="rate(peer_review, 1)"><i ng-show="peer_review.not_rated" class="fa fa-send"></i>+1</button>
				<button class="btn-blue" ng-click="rate(peer_review, -1)"><i ng-show="peer_review.not_rated" class="fa fa-send"></i>-1</button>
			</div>
			<button class="btn-blue" ng-click="get_peer_reviews()"><i class="fa fa-send"></i> More peer reviews</button>
		</div>
	</div>
</div>