<div class="quiz-panel-heading" ng-click="toggle_quiz(); quiz.event_handler('click', $parent.quiz.is_open)" style="cursor: pointer;" >
    <i class="fa fa-question-circle text-muted"></i> {{quiz.title}}
    <span class="text-muted" ng-show="quiz.answered">answered</span>
    
    
    <button class="pull-right toggle-quiz">
        <i class="fa fa-minus" ng-show="$parent.quiz.is_open"></i>
        <i class="fa fa-plus" ng-hide="$parent.quiz.is_open"></i>
    </button>
    <span class="pull-right quiz-dl">Deadline: <br /> {{ quiz.deadline }}</span>
</div>

<div class="quiz-panel-body" ng-show="$parent.quiz.is_open">

    <div class="alert alert-info" ng-show="quiz.answering_expired">
        The deadline for answering this quiz has passed
        <span ng-show="quiz.can_answer"> but you can improve your answer until {{ quiz.improve_deadline }}</span>
    </div>

    <form name="quiz_form_{{$parent.quiz.id}}" ng-show="quiz.can_answer">
        <div class="form-item" ng-repeat="item in quiz.items" ng-include="widget_view(item.item_type)"></div>
        <button class="btn-blue" ng-click="send_answer()" ng-disabled="quiz_form_{{$parent.quiz.id}}.$invalid"><i class="fa fa-send"></i> Send</button>
        <button style="margin-left: 10px;" class="btn-grey" ng-click="clear_answer()"><i class=" fa fa-eraser"></i> Clear answers</button>
        <p class="text-muted" style="margin-bottom: 0px;" ng-show="quiz_form_{{$parent.quiz.id}}.$invalid">Please, fill in all the fields before sending the quiz</p>
    </form>
</div>

<div class="quiz-panel-user-info" ng-show="$parent.quiz.is_open">
    <button class="btn-grey btn-sm" style="margin-right: 10px;" ng-click="toggle_username_form()"><i class="fa fa-pencil"></i> Change</button>Logged in as {{username}}
    <div style="margin-top: 15px;" ng-show="show_username_form">
        <form name="change_username_{{$parent.quiz_id}}">
            <div class="form-item">
                <input type="text" placeholder="Username" ng-required="true" class="text-field" ng-model="$parent.new_username">
            </div>
            <button class="btn-blue" ng-click="change_username()" ng-disabled="change_username_{{$parent.quiz_id}}.$invalid">Save</button>
        </form>
    </div>
</div>
